.polMenu {
  overflow: hidden;
  width: 100%;
  padding: 0px;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  border-radius: 5px;
}
.polMenuTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.polMenuContent {
  font-size: 16px;
}
.polMenuError {
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 2px;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  background-color: "[theme:neutralLighter, default: #f3f2f1]";
  background-color: var(--neutralLighter);
  border: 1px solid "[theme:neutralQuaternary, default: #d0d0d0]";
  border: 1px solid var(--neutralQuaternary);
}
:global {
  .polMenuRoot div[data-automation-id="CanvasControl"] {
    margin: 0px !important;
  }
}
